.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}

.box {
    width: 100%;;
    height: 500px; 
    background-color: #f0f0f0;
    margin-bottom: 20px; 
    box-sizing: border-box; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.box h2 {
    font-weight: bold;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}

.box h3 {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}

.box-inner {
    width: 100%;
    height: calc(33.33% - 10px); 
    background-color: #ccc;
    margin-bottom: 10px; 
    box-sizing: border-box; 
    padding: 10px; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.box-inner:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.box-inner img {
    display: block;
    width: 100%; 
    height: 100%;
    border-radius: 20px;
    max-width: 100%; 
    max-height: 100%; 
    margin: auto;
}

.box1 {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 .box-inner {
    width: 20%; 
    height: 200px; 
    background-color: #ccc;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 .box-inner img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    object-fit: contain;
}
 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    max-width: 100%;
}
.container .box {
    flex: 1;
    margin: 0 10px; 
    width: calc(50% - 20px);
}

.image-container {
    position: relative;
    width: 100%; 
    height: 100%;
}
.box-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 20px;
}


/* @media (min-width: 768px) and (max-width: 1024px) {
    .box {
        width: calc(50% - 20px);
        height: auto;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 10px;
    }

    .box {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

   .box-inner {
        height: auto;
        margin-bottom: 10px;
    }  
} */