.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px; 
}

.box {
    width: calc(33.33% - 20px); 
    height: 600px; 
    background-color: #f0f0f0;
    margin-bottom: 20px; 
    box-sizing: border-box; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.box h2 {
    font-weight: bold;
    text-align: center;
}

.box-inner {
    width: 100%;
    height: calc(33.33% - 10px); 
    background-color: #ccc;
    margin-bottom: 10px; 
    box-sizing: border-box; 
    padding: 10px; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.box-inner img {
    display: block;
    width: 100%; 
    border-radius: 20px;
    max-width: 100%; 
    max-height: 100%; 
    margin: auto;
}

.box:nth-child(5) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.box:nth-child(8) {
    width: calc(33.33% - 20px); 
    height: 600px;
}

.box:nth-child(8) img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.box:nth-child(9) {
    width: calc(33.33% - 20px); 
    height: 600px; 
    background-color: #f0f0f0;
    margin-bottom: 20px; 
    box-sizing: border-box; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.box:nth-child(9) h2 {
    font-weight: bold;
    text-align: center;
}

.box:nth-child(9) img {
    display: block;
    width: 90%; 
    border-radius: 20px;
    max-width: 100%; 
    max-height: 90%; 
    margin-top: 1%; 
    margin-bottom: 1%; 
    margin-left: auto;
    margin-right: auto;
}

.box:nth-child(11) {
    width: calc(33.33% - 20px); 
    height: 600px; 
    background-color: #f0f0f0;
    margin-bottom: 20px; 
    box-sizing: border-box; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.box:nth-child(11) h2 {
    font-weight: bold;
    text-align: center;
}

.box:nth-child(11) img {
    display: block;
    width: 90%; 
    border-radius: 20px;
    max-width: 100%; 
    max-height: 90%; 
    margin-top: 5%; 
    margin-bottom: 5%; 
    margin-left: auto;
    margin-right: auto;
}

.box:nth-child(12) {
    width: calc(33.33% - 20px); 
    height: 600px; 
    background-color: #f0f0f0;
    margin-bottom: 20px; 
    box-sizing: border-box; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.box:nth-child(12) h2 {
    font-weight: bold;
    text-align: center;
}

.box:nth-child(12) img {
    display: block;
    width: 90%; 
    border-radius: 20px;
    max-width: 100%; 
    max-height: 80%; 
    margin-top: 1%; 
    margin-bottom: 5%; 
    margin-left: auto;
    margin-right: auto;
}

.box:nth-child(12) .image-container {
    position: relative;
    width: 100%; 
    height: 100%;
}

.box:nth-child(12) .box-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
}

.box:nth-child(12) .red-border {
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    height: 25%;
    border: 3px solid red;
    border-radius: 20px;
    box-sizing: border-box;
}