.sub_menu_wrap {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: auto; /* 더 일반적인 속성으로 조정 */
}

#sub_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sub_menu a:hover {
    color: #3259f7;
}

#sub_menu div {
    padding: 10px;
    margin: 3px;
}

#sub_menu div a {
    font-size: 1.2rem; /* 확장성을 위해 rem 사용 */
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #sub_menu_wrap {
        width: 100%;
    }

    #sub_menu div a {
        font-size: 0.8rem; /* rem 사용으로 조정 */
    }
}
